section.service
    div.container
        div.row.center-xs.center-lg 
            div.col-xs-12.col-lg-4 
                div.service__img 
                h2.service__titre Service clé en main
                p.service__text On s'occupe de tout : prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, etc.
                p.service__text.service__text--isblue De nombreuses heures de gestion gagnées