/*********** Colors ***********/
$blue-primary: #1E629F;
$blue-light: #4A7DD8;
$purple: #927EEC;
$green: #6DE8D7;
$yellow: #F6D950;
$black: #333333;
$grey-light: #EAEAEA;
$white-alt: #FAFAFA;
$white: #FFFFFF;
