#comment-container {
  background-color: $grey-light;
  a {
    color: $blue-primary;
    background-color: $yellow;
    text-decoration: none;
  }
  p{
    color: $blue-primary;
    font-size: 20px;
    font-weight: 700;
  }
  .comment-card {
    background-color: $white;
    box-shadow: -1px 2px -1px -2px $black;
    padding: 30px;
    img {
      width: 65px;
      height: 65px;
      margin-top: 20px;
    }
    p{
      color: $black;
      font-size: 14px;

      span {
        color: $blue-primary;
      }
    }
  }
}
