@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700');
@import './mixins/medias';
@import './components/colors';
@import './components/header';
@import './components/services';
@import './components/numbers';
@import './components/comments';
@import './components/questions';
@import './components/footer';



/*********** Fonts ***********/
* {
font-family: 'Ubuntu', sans-serif;
}
/********** Container **********/
.container {
  padding: 20px 0px;
}

#medias-container {
  background-color: $grey-light;
}
